<template>
<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">STMIK BANI SALEH</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>{{ role }}</p>
                        <!-- <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">Dashboard</p> -->
                    </a>
                </li>
                <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <b class="caret hidden-lg hidden-md"></b>
                            <p class="hidden-lg hidden-md">
                                5 Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                        </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown" v-if="user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <p>
                                <i class="fa fa-user"></i>
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> {{ username }}</a></li>
                        <li class="divider"></li>
                        <li>
                            <a @click="logout">
                                <p class="logout text-danger"><i class="fa fa-sign-out"></i> Log out</p>
                            </a>
                        </li>
                        </ul>
                </li>
                <li v-if="user"><avatar :username="username" :size="35" id="ava" backgroundColor="#428cf4" color="white"></avatar></li>
                <li class="separator hidden-lg"></li>
            </ul>
        </div>
    </div>
</nav>
</template>

<script>
import Avatar from 'vue-avatar'
import {mapState} from 'vuex'

export default {
    props: ['user'],
    data(){
        return {
            username: '',
            role: ''
        }
    },
    components: {
        Avatar
    },
    mounted () {
        this.username = this.user_ep.nama_operator
        this.role = this.user_ep.role === 'root' ? 'SUPER ADMIN' : this.user_ep.role.toUpperCase()
    },
    computed: {
        ...mapState([
            'user_ep'
        ])
    },
    methods: {
        logout(){
            this.$store.dispatch('setToken', null)
            this.$store.dispatch('setUser', null)
            this.$notify({
              title: 'Logged Out!',
              text: 'Kamu Telah Logout!',
              type: 'success'
            })
            this.$router.push({path:'/login'})
        }
    }
}
</script>
<style scoped>
#ava {
    margin-top: 12px;
}

.logout {
    cursor: pointer;
}
</style>
