<template>
  <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
    	<div class="sidebar-wrapper">
            <div class="logo">
                <router-link :to="{name: 'dashboard'}" class="simple-text">
                    <i class="pe-7s-science"></i> E-Presents
                </router-link>
            </div>

            <ul class="nav">
                <li>
                    <router-link to="/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </router-link>
                </li>
                <li>
                    <router-link to="/rfid">
                        <i class="pe-7s-id"></i>
                        <p>RFID</p>
                    </router-link>
                </li>
                <li>
                    <router-link to="/token">
                        <i class="pe-7s-key"></i>
                        <p>Token</p>
                    </router-link>
                </li>
                <li>
                    <router-link to="/rfid-blacklisted">
                        <i class="pe-7s-delete-user"></i>
                        <p>RFID Blacklisted</p>
                    </router-link>
                </li>
                <li v-if="user_ep.role === 'root'">
                    <router-link to="/operators">
                        <i class="pe-7s-users"></i>
                        <p>Operators</p>
                    </router-link>
                </li>
            </ul>
    	</div>
    </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  computed: {
    ...mapState([
      'user_ep'
    ])
  }
}
</script>

