<template>
  <div class="row">
      <div :class="ukuran">
          <div class="card">
              <div class="header">
                  <slot name="title">No Title Here</slot>
              </div>
              <div class="content">
                  <slot name="content">No Content Defined Here</slot>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
	props: ['ukuran'],
  data () {
      return {}
  }
}
</script>
