<template>
  <div class="row">
      <div :class="ukuran">
          <div class="card">
              <div class="header">
                  <slot name="back-btn"></slot>
                  <slot name="title"></slot>
              </div>
              <div class="content">
                  <slot name="content"></slot>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {
    props: ['ukuran'],
    data () {
        return {
        }
    }
}
</script>
