<template>
  <transition name="component-fade" mode="out-in">
    <div id="hasil" v-if="data">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <ul class="list-group dosen">
              <div v-if="data.dosen.length > 0">
                <span class="text-primary">Hasil untuk Dosen</span>
                <button @click="onSelected(d, 'dosen')" class="list-group-item" v-for="d in data.dosen" :key="d.DSNOTBDOS">
                  <h5 class="list-group-item-heading text-info"><b>{{d.DSNOTBDOS}}</b></h5>
                  <p class="list-group-item-text">{{d.DSNAMA}}</p>
                </button>
              </div>
            </ul>
            <ul class="list-group mahasiswa">
              <div v-if="data.mahasiswa.length > 0">
                <span class="text-success">Hasil untuk Mahasiswa</span>
                <button @click="onSelected(d, 'mahasiswa')" class="list-group-item" v-for="d in data.mahasiswa" :key="d.NPM">
                  <h5 class="list-group-item-heading text-info"><b>{{d.NPM}}</b></h5>
                  <p class="list-group-item-text">{{d.Nama}}</p>
                </button>
              </div>
            </ul>
          </ul>      
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    data: {
      type: Object
    }
  },
  methods: {
    onSelected (d, type) {
      var data = {
        type,
        result: d
      }
      this.$emit('onSelected', data)
    }
  },
  created () {
    console.log(this.data)
  }
}
</script>

<style>
li {
  list-style: none;
}
</style>
