<template>
  <transition name="component-fade" mode="out-in">
    <div id="hasil">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <button @click="onSelected(d)" class="list-group-item" v-for="d in data" :key="d.DSNOTBDOS">
              <h5 class="list-group-item-heading text-info"><b>{{d.DSNOTBDOS}}</b></h5>
              <p class="list-group-item-text">{{d.DSNAMA}}</p>
            </button>
          </ul>      
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['data'],
  methods: {
    onSelected (d) {
      this.$emit('onSelected', d)
    }
  }
}
</script>

<style>
li {
  list-style: none;
}
</style>
