<template>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                <th v-for="col in fields" :key="col.name">{{ col.title }}</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="(dt, index) in data" :key="dt.name">
                  <template v-for="key in fields">
                      <td v-if="key.name === '__slot'" :key="key.name">
                          <slot name="aksi" :row-data="dt" :row-index="index">
                          </slot>
                      </td>
                      <td v-else :key="key.name">
                          {{dt[key.name]}}
                      </td>
                  </template>
              </tr>
          </tbody>
      </table>
      <div class="text-center text-muted" v-if="data.length === 0">Belum ada data tersedia</div>
      <vue-pagination :pagination="pagination" :offset="offset" @paginate="getData()"></vue-pagination>
  </div>
</template>

<script>
import VuePagination from "../Plugins/Pagination";

export default {
  props: {
    fields: {
      type: Array,
      required: true
    },
    data: {
      type: Array,
      required: true
    },
    pagination: {
      type: Object,
      required: true
    },
    offset: {
      type: Number,
      default: 4
    }
  },
  components: {
    VuePagination
  },
  data() {
    return {
      totalRow: []
    };
  },
  computed: {
    getTotalRow() {
      let x = Object.keys(this.data[0]);
      let r = [];
      let z = null;
      for (let i = 0; i < x.length; i++) {
        z = x[i];
        r.push(z);
      }
      return r;
    }
  },
  methods: {
    getData() {
      this.$emit("paginasikan");
    }
  }
};
</script>
