<template>
  <div id="new-blacklist">
    <mini-panel ukuran="col-md-6 col-md-offset-3">
      <button slot="back-btn" class="btn btn-danger btn-xs pull-right" @click="back"><i class="fa fa-arrow-left"></i> Back</button>
      <h4 class="title" slot="title">Tambah Blacklist RFID <i class="fa fa-refresh fa-spin" v-if="loading"></i></h4>
      <div class="row" slot="content">
        <div class="col-md-12">
          <form @submit.prevent="saveBlacklist">
            <div class="form-group">
              <label for="rfid">RFID</label>
              <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-id-card"></i>
                </div>
                <input type="password" name="no_induk" v-model="rfid" class="form-control">
              </div>
            </div>
            <input type="submit" value="Simpan" class="btn btn-success btn-sm">
          </form>
        </div>
      </div>
    </mini-panel>
  </div>
</template>

<script>
import MiniPanel from "../UIComponents/MiniPanel"
import BlacklistService from '../services/BlacklistServices'
import swal from 'sweetalert2'

export default {
    components: {
        MiniPanel
    },
    data () {
        return {
            loading: false,
            rfid: null
        }
    },
    methods: {
        saveBlacklist() {
            const dt = {
                rfid: this.rfid
            }
            let response = null
            if(!!this.rfid) {
              this.$Progress.start()
              swal({
                title: 'Blacklist',
                text: 'Kamu yakin ingin memblacklist RFID tersebut ?',
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Submit',
                showLoaderOnConfirm: true,
                preConfirm: async () => {
                  try {
                    response = await BlacklistService.newBlacklistUser(dt)
                    this.$Progress.finish()
                    this.$notify({
                        title: 'Saved!',
                        text: 'Data Berhasil Disimpan!',
                        type: 'success'
                    })
                  } catch (error) {
                    this.$Progress.fail()
                    this.$notify({
                        title: 'Error!',
                        text: 'Gagal Menyimpan Data!',
                        type: 'error'
                    })
                  }  
                },
                onClose: () => {
                  this.$Progress.finish()
                }
              }).then(result => {
                if(response) {
                  this.$store.dispatch('showMessage', {
                    title: 'Saved!',
                    text: 'RFID Telah Di Blacklist!',
                    type: 'success',
                    onClose: () => {
                      this.back()
                    }
                  })
                } else if(!response && result.dismiss !== "cancel"){
                  this.$store.dispatch('showMessage', {
                    title: 'Error!',
                    text: 'RFID Gagal Di Blacklist!',
                    type: 'error'
                  })
                }
              })
            } else {
                this.$Progress.fail()
                this.$notify({
                  title: 'Formulir Tidak Lengkap!',
                  text: 'Lengkapi Pengisian Formulir!',
                  type: 'error'
                })
            }
        },
        back() {
          this.$emit('back')
        }
    }
}
</script>
