<template>
  <div id="add-operator">
    <mini-panel ukuran="col-md-6 col-md-offset-3">
      <button slot="back-btn" class="btn btn-danger btn-xs pull-right" @click="back"><i class="fa fa-arrow-left"></i> Back</button>
      <h4 class="title" slot="title">Tambah Operator Baru</h4>
      <div class="row" slot="content">
        <div class="col-md-12">
          <form @submit.prevent="saveOperator">
            <div class="form-group">
              <label for="nama">Nama Operator</label>
              <input type="text" name="nama_operator" v-model="nama_operator" class="form-control">
            </div>
            <div class="form-group">
              <label for="username">Username <b class="text-danger">*</b></label>
              <input type="text" name="username" v-model="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password <b class="text-danger">*</b></label>
              <input type="password" name="password" v-model="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="role">User Role</label>
              <select name="role" v-model="role" class="form-control">
                <option value="root">Super Admin</option>
                <option value="operator">Operator</option>
              </select>
            </div>
            <button type="submit" @click="saveOperator" class="btn btn-success"><i class="fa fa-save"></i> Simpan</button>
          </form>
          <hr>
          <small class="text-danger">*) Username dan Password untuk Login</small>
        </div>
      </div>
    </mini-panel>
  </div>
</template>

<script>
import MiniPanel from '../UIComponents/MiniPanel'
import OperatorService from '../services/OperatorServices'

import swal from 'sweetalert2'

export default {
  components: {
    MiniPanel
  },
  data () {
    return {
      nama_operator: null,
      username: null,
      password: null,
      role: "operator"
    }
  },
  methods: {
    back () {
      this.$emit('back')
    },
    saveOperator () {
      let response = null
      this.$Progress.start()
      swal({
        title: 'Simpan',
        text: 'Tekan Submit Jika Kamu Sudah yakin dengan data tersebut ?',
        type: 'question',
        showCancelButton: true,
        confirmButtonText: 'Submit',
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          const user = {
            username: this.username,
            password: this.password,
            nama_operator: this.nama_operator,
            role: this.role
          }
          try {
            response = await OperatorService.newOperator(user)
            this.$notify({
              title: 'Saved!',
              text: 'Berhasil Mendaftarkan Operator!',
              type: 'success'
            })
            this.$Progress.finish()
          } catch (error) {
            this.$notify({
              title: 'Error!',
              text: 'Gagal Mendaftarkan Operator',
              type: 'error'
            })
          }
        },
        onClose: () => {
          this.$Progress.finish()
        }
      }).then(result => {
        if(response) {
          this.$store.dispatch('showMessage', {
            title: 'Saved!',
            text: 'Operator Telah Di Tambahkan!',
            type: 'success',
            onClose: () => {
              this.back()
            }
          })
        } else if(!response && result.dismiss !== "cancel"){
          this.$store.dispatch('showMessage', {
            title: 'Error!',
            text: 'Operator Gagal Di Tambahkan!',
            type: 'error'
          })
        }
      })
    }
  }
}
</script>

<style>

</style>
