<template>
  <div id="add-rfid">
    <mini-panel ukuran="col-md-6 col-md-offset-3">
      <button slot="back-btn" class="btn btn-danger btn-xs pull-right" @click="back"><i class="fa fa-arrow-left"></i> Back</button>
      <h4 class="title" slot="title">Tambah RFID Baru<i class="fa fa-refresh fa-spin" v-if="loading"></i></h4>
      <div class="row" slot="content">
          <div class="col-md-12">
            <form @submit.prevent="saveRfid">
              <div class="form-group">
                <label for="rfid">RFID</label>
                <input type="password" name="rfid" v-model="rfid" class="form-control">
              </div>
              <div class="form-group">
                <label for="no_induk">NOMOR INDUK</label>
                <input type="text" name="no_induk" v-model="no_induk" class="form-control">
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select name="status" v-model="status" class="form-control">
                  <option value="mahasiswa">Mahasiswa</option>
                  <option value="dosen">Dosen</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success">Simpan</button>
              <button type="reset" class="btn btn-warning">Reset</button>
            </form>
          </div>
      </div>
    </mini-panel>
  </div>
</template>

<script>
import MiniPanel from "../UIComponents/MiniPanel";
import RfidService from "../services/RfidServices";

import swal from "sweetalert2";

export default {
  components: {
    MiniPanel
  },
  data() {
    return {
      loading: false,
      rfid: null,
      no_induk: null,
      status: null
    };
  },
  methods: {
    back() {
      this.$emit("back");
    },
    saveRfid(e) {
      console.log(e);
      if (!!this.rfid && !!this.no_induk && !!this.status) {
        let response = null;
        this.$Progress.start();
        swal({
          title: "Simpan",
          text: "Tekan Submit Jika Kamu Sudah yakin dengan data tersebut ?",
          type: "question",
          showCancelButton: true,
          confirmButtonText: "Submit",
          showLoaderOnConfirm: true,
          preConfirm: async () => {
            try {
              const user = {
                rf_id: this.rfid,
                no_induk: this.no_induk,
                status: this.status
              };
              response = (await RfidService.saveRfid(user)).data;
              this.$notify({
                title: "Saved!",
                text: "Berhasil Mendaftarkan RFID!",
                type: "success"
              });
              this.rfid = null;
              this.no_induk = null;
              this.status = null;
              this.$Progress.finish();
            } catch (error) {
              console.log(error.response);
              this.$Progress.fail();
              this.$notify({
                title: "Error!",
                text: "Gagal Menyimpan data ke Server!",
                type: "error"
              });
            }
          },
          onClose: () => {
            this.$Progress.finish();
          }
        }).then(result => {
          if (response) {
            this.$store.dispatch("showMessage", {
              title: "Saved!",
              text: "RFID Berhasil Didaftarkan!",
              type: "success"
            });
          } else if (!response && result.dismiss !== "cancel") {
            this.$store.dispatch("showMessage", {
              title: "Error!",
              text: "RFID Gagal Didaftarkan!",
              type: "error"
            });
          }
        });
      } else {
        this.$notify({
          title: "Formulir Tidak Lengkap!",
          text: "Lengkapi Formulir Pengisian!",
          type: "error"
        });
        this.$Progress.fail();
      }
    }
  }
};
</script>

