<template>
  <div id="newtokenCard">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="card">
            <div class="header">
                <button class="btn btn-danger btn-xs pull-right" @click="back"><i class="fa fa-arrow-left"></i> Back</button>
              <h4 class="title">Tambah Token Baru <i class="fa fa-refresh fa-spin" v-show="loading"></i></h4>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-md-12">
                        <div class="form-group">
                            <label for="Token">Token</label>
                            <input type="text" name="token_id" v-model="token_id" class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label for="jenis_token">Jenis Token</label>
                            <select name="jenis_token" class="form-control" v-model="jenis_token" @change="onChangeJT">
                                <option v-for="at in aksi_token" :value="at.id_aksi" :key="at.id_aksi">{{ at.keterangan_aksi }}</option>
                            </select>
                        </div>
                        <div class="form-group" v-if="inval">
                            <label for="nidp">Dosen Pengganti</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-refresh fa-spin" v-show="loading_nidp"></i>
                                    <i class="fa fa-user" v-if="!loading_nidp"></i>
                                    <i class="fa fa-remove" v-if="error_nidp" :class="{'err': error_nidp}"></i>
                                    <i class="fa fa-check-circle" :class="{ 'passed': passed_nidp }" v-if="passed_nidp"></i>
                                </div>
                                <input type="text" name="no_induk" placeholder="Cari Nama Dosen..." v-model="nidp" class="form-control">
                            </div>
                        </div>
                        <div class="info-data form-group" v-if="ada_data_nidp && inval">
                          <span class="text-primary">Nama: {{data_nidp.personal.Nama}}</span>
                        </div>
                        <search-highlight v-if="!passed_nidp" @onSelected="onSelected" :data="hasil"></search-highlight>
                        <div class="form-group">
                            <label for="rfid">Nama Mahasiswa / Dosen</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-refresh fa-spin" v-show="loading"></i>
                                    <i class="fa fa-user" v-if="!loading"></i>
                                    <i class="fa fa-remove" v-if="error" :class="{'err': error}"></i>
                                    <i class="fa fa-check-circle" :class="{ 'passed': passed }" v-if="passed"></i>
                                </div>
                                <input type="text" name="no_induk" v-model="no_induk" class="form-control">
                            </div>
                        </div>
                        <n-i-search-highlight v-if="lagiSearch && !error && !passed" @onSelected="onNISelected" :data="hasilNI"></n-i-search-highlight>
                        <div class="info-data form-group" v-if="ada_data">
                          <span class="text-primary">Nama: {{data_rfid.personal.Nama}}</span>
                        </div>
                        <button type="submit" class="btn btn-success" @click="savingToken" :disabled="!passed">Simpan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import TokenService from "../services/TokenServices";
import SearchHighlight from "../UIComponents/SearchHighlight";
import NISearchHighlight from "../UIComponents/NISearchHighlight";

import swal from "sweetalert2";
import _ from "lodash";

export default {
  components: {
    SearchHighlight,
    NISearchHighlight
  },
  data() {
    return {
      token_id: "",
      jenis_token: "",
      no_induk: "",
      nidp: "",
      rfid: "",
      status: "",
      data_rfid: {},
      data_nidp: {},
      aksi_token: [],
      hasil: {},
      hasilNI: [],
      loading: false,
      inval: false,
      passed: false,
      error: false,
      ada_data: false,
      loading_nidp: false,
      passed_nidp: false,
      error_nidp: false,
      ada_data_nidp: false,
      lagiSearch: false
    };
  },
  mounted() {
    this.token_id = this.getToken;
    this.getAksiToken();
  },
  methods: {
    async getAksiToken() {
      try {
        this.loading = true;
        await TokenService.getAksiToken().then(res => {
          this.aksi_token = res.data;
          this.loading = false;
        });
      } catch (error) {
        this.$notify({
          title: "Error",
          text: "Gagal Mengambil Data Aksi Token ke Server!",
          type: "error"
        });
        this.loading = false;
      }
    },
    back() {
      this.$emit("back");
    },
    onChangeJT() {
      switch (this.jenis_token) {
        case 3:
          this.inval = true;
          break;
        default:
          this.inval = false;
          break;
      }
    },
    async cekNI() {
      this.lagiSearch = false;
      if (!!this.no_induk) {
        try {
          let isDosen = this.no_induk.charAt(0) === "D" ? true : false;
          this.loading = true;
          const response = await TokenService.getRfidData(this.no_induk);
          console.log("response", response);
          this.data_rfid = response.data;
          this.loading = false;
          if (
            (!response.data.success && this.no_induk.length >= 14) ||
            (!response.data.success && isDosen)
          ) {
            this.$notify({
              title: "No Induk Tidak Ditemukan!",
              text:
                "No Induk yang bersangkutan tidak ditemukan atau tidak terdaftar dalam Sistem RFID",
              type: "error"
            });
            this.ada_data = response.data.personal ? true : false;
            this.passed = false;
            this.error = true;
            return false;
          } else if (
            !response.data.success &&
            this.no_induk.length < 14 &&
            !isDosen
          ) {
            this.ada_data = response.data.personal ? true : false;
            this.passed = false;
            this.error = true;
            return false;
          }

          this.ada_data = response.data.personal ? true : false;
          this.rfid = response.data.rfid.rf_id;
          this.status = response.data.rfid.status;
          this.passed = true;
          this.error = false;
        } catch (error) {
          this.loading = false;
          this.$notify({
            title: "Error!",
            text: "Gagal Menghubungkan Ke Server!",
            type: "error"
          });
        }
      } else {
        this.passed = false;
        this.error = false;
        this.ada_data = false;
        return false;
      }
    },
    async cekNIDP() {
      if (!!this.nidp) {
        try {
          let isDosen = this.nidp.charAt(0) === "D" ? true : false;
          this.loading_nidp = true;
          const response = await TokenService.getRfidData(this.nidp);
          this.data_nidp = response.data;
          this.loading_nidp = false;
          if (
            (!response.data.success && this.no_induk.length >= 14) ||
            (!response.data.success && isDosen)
          ) {
            this.$notify({
              title: "No Induk Tidak Ditemukan!",
              text:
                "No Induk yang bersangkutan tidak ditemukan atau tidak terdaftar dalam Sistem RFID",
              type: "error"
            });
            this.ada_data_nidp = response.data.personal ? true : false;
            this.passed_nidp = false;
            this.error_nidp = true;
            return false;
          } else if (
            !response.data.success &&
            this.no_induk.length < 14 &&
            !isDosen
          ) {
            this.ada_data_nidp = response.data.personal ? true : false;
            this.passed_nidp = false;
            this.error_nidp = true;
            return false;
          }

          this.ada_data_nidp = response.data.personal ? true : false;
          this.nidp = response.data.personal.NID;
          this.passed_nidp = true;
          this.error_nidp = false;
        } catch (error) {
          this.loading_nidp = false;
          this.$notify({
            title: "Error!",
            text: "Gagal Menghubungkan Ke Server!",
            type: "error"
          });
        }
      } else {
        this.passed_nidp = false;
        this.error_nidp = false;
        this.ada_data_nidp = false;
        return false;
      }
    },
    async cariNI() {
      if (!!this.no_induk) {
        try {
          this.loading = true;
          this.lagiSearch = true;
          const response = await TokenService.cariOrang(this.no_induk);
          this.hasilNI = response.data;
          this.loading = false;
        } catch (error) {
          console.log(error);
          this.loading = false;
        }
      } else {
        this.hasilNI = {};
        this.lagiSearch = false;
        this.passed = false;
        this.error = false;
        this.ada_data = false;
        this.loading = false;
        return false;
      }
    },
    async cariDosen() {
      if (!!this.nidp) {
        try {
          this.loading_nidp = true;
          const response = await TokenService.cariDosen(this.nidp);
          this.hasil = response.data;
          this.loading_nidp = false;
        } catch (error) {
          console.log(error.response);
          this.loading_nidp = false;
        }
      } else {
        this.hasil = [];
        this.passed_nidp = false;
        this.error_nidp = false;
        this.ada_data_nidp = false;
        this.loading_nidp = false;
        return false;
      }
    },
    async onSelected(d) {
      this.nidp = d.DSNOTBDOS;
      await this.cekNIDP();
      this.hasil = [];
    },
    async onNISelected(data) {
      this.lagiSearch = false;
      if (data.type === "dosen") {
        this.no_induk = data.result.DSNOTBDOS;
      } else {
        this.no_induk = data.result.NPM;
      }
      this.hasilNI = {};
      await this.cekNI();
    },
    async savingToken() {
      this.$Progress.start();
      let response = null;
      const token = {
        token_id: this.token_id,
        id_aksi: this.jenis_token,
        no_induk: this.no_induk,
        rf_id: this.rfid,
        status: this.status,
        nidp: this.jenis_token === 3 ? this.nidp : "-"
      };
      if (this.inval && this.nidp === "") {
        this.$notify({
          title: "Formulir Tidak Lengkap!",
          text: "Lengkapi Formulir Pengisian!",
          type: "error"
        });
        this.$Progress.fail();
        return false;
      } else {
        if (!!this.no_induk) {
          swal({
            title: "Simpan",
            text: "Tekan Submit Untuk Melanjutkan Pembuatan Token!",
            type: "question",
            showCancelButton: true,
            confirmButtonText: "Submit",
            showLoaderOnConfirm: true,
            preConfirm: async () => {
              try {
                response = await TokenService.addTokenUser(token);
                this.$Progress.finish();
                this.$notify({
                  title: "Saved!",
                  text: "Token Berhasil Disimpan!",
                  type: "info"
                });
              } catch (error) {
                this.$Progress.fail();
                console.log(error);
                this.$notify({
                  title: "Error!",
                  text: "Gagal Menghubungkan Ke Server!",
                  type: "error"
                });
              }
            },
            onClose: () => {
              this.$Progress.finish();
            }
          }).then(result => {
            if (response) {
              this.$store.dispatch("showMessage", {
                title: `Token: ${token.token_id}`,
                text: `Token telah berhasil dibuat untuk ${
                  this.data_rfid.personal.Nama
                }`,
                allowEnterKey: false,
                type: "success",
                onClose: () => {
                  this.back();
                }
              });
            } else if (!response && result.dismiss !== "cancel") {
              this.$store.dispatch("showMessage", {
                title: "Error!",
                text: "Token Gagal Di buat!",
                type: "error"
              });
            }
          });
        }
      }
    },
    refreshToken() {
      console.log(this.getToken);
    }
  },
  computed: {
    getToken() {
      let token = "69";
      let now = new Date();
      let timeStamp = null;
      let noUrut = 0;
      let noBaru = null;
      noUrut =
        parseInt(now.getSeconds().toString()) +
        parseInt(now.getHours().toString()) -
        2;
      noBaru = noUrut > 999 ? 0 : noUrut;
      timeStamp = now.getSeconds().toString();
      timeStamp +=
        (noBaru < 0 ? "0" : noBaru.toString()) +
        now.getDate().toString() +
        now.getHours().toString() +
        now.getMilliseconds().toString();
      return token + timeStamp;
    }
  },
  watch: {
    no_induk: _.debounce(async function(value) {
      await this.cariNI();
      // await this.cekNI()
    }, 800),
    nidp: _.debounce(async function(value) {
      //await this.cekNIDP()
      await this.cariDosen();
    }, 800)
  }
};
</script>
