<template>
  <div id="edit-rfid">
    <mini-panel ukuran="col-md-6 col-md-offset-3">
      <router-link slot="back-btn" class="btn btn-danger btn-xs pull-right" to="/rfid"><i class="fa fa-arrow-left"></i> Back</router-link>
      <h4 class="title" slot="title">Ubah RFID {{$route.params.rfid}}<i class="fa fa-refresh fa-spin" v-if="loading"></i></h4>
      <div class="row" slot="content">
          <div class="col-md-12">
              <form @submit.prevent="updateRfid">
                <div class="form-group">
                  <label for="rfid">RFID</label>
                  <input type="password" name="rfid" v-model="rfid" class="form-control" disabled>
                </div>
                <div class="form-group">
                  <label for="no_induk">NOMOR INDUK</label>
                  <input type="text" name="no_induk" v-model="no_induk" class="form-control">
                </div>
                <div class="form-group">
                  <label for="status">Status</label>
                  <select name="status" v-model="status" class="form-control">
                    <option value="mahasiswa">Mahasiswa</option>
                    <option value="dosen">Dosen</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-success">Simpan</button>
              </form>
          </div>
      </div>
    </mini-panel>
  </div>
</template>

<script>
import RfidService from '../services/RfidServices'
import MiniPanel from '../UIComponents/MiniPanel'

import swal from 'sweetalert2'

export default {
  components: {
    MiniPanel
  },
  data () {
    return {
      loading: false,
      rfid: null,
      no_induk: null,
      status: null
    }
  },
  async mounted () {
    this.loading = true
    try {
      const response = (await RfidService.getRfid(this.$route.params.rfid)).data
      this.rfid = response.rf_id
      this.no_induk = response.no_induk
      this.status = response.status
      this.loading = false
    } catch (error) {
      console.log(error)
      this.loading = false
      this.$notify({
        title: 'Error!',
        text: 'Gagal Mengambil data Ke Server!',
        type: 'error'
      })
    }
  },
  methods: {
    updateRfid () {
      let yes = async () => {
        
      }
      let response = null
      this.$Progress.start()
      swal({
        title: 'Simpan Perubahan',
        text: 'Tekan Submit Jika Kamu Sudah yakin dengan data tersebut ?',
        type: 'question',
        showCancelButton: true,
        confirmButtonText: 'Submit',
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            const user = {
              no_induk: this.no_induk,
              status: this.status
            }

            response = (await RfidService.updateRfid(user, this.$route.params.rfid)).data
            this.$notify({
              title: 'Saved!',
              text: 'Berhasil Mengubah Data RFID!',
              type: 'success'
            })
            this.$Progress.finish()
          } catch (error) {
            console.log(error.response)
            this.$Progress.fail()
            this.$notify({
              title: 'Error!',
              text: 'Gagal Mengubah Data RFID!',
              type: 'error'
            })
          }
        },
        onClose: () => {
          this.$Progress.finish()
        }
      }).then(result => {
        if(response) {
          this.$store.dispatch('showMessage', {
            title: 'Saved!',
            text: 'RFID Berhasil Diubah!',
            type: 'success',
            onClose: () => {  
              this.$router.push({name: 'rfid'})
            }
          })
        } else if(!response && result.dismiss !== "cancel"){
          this.$store.dispatch('showMessage', {
            title: 'Error!',
            text: 'RFID Gagal Diubah!',
            type: 'error'
          })
        }
      })
    }
  }
}
</script>
