<template>
  <div id="blacklisted">
      <transition name="component-fade" mode="out-in">
        <main-panel ukuran="col-md-12" v-if="!onCreate">
            <h4 class="title" slot="title"><i class="pe-7s-delete-user icon-header"></i> RFID Blacklisted <i class="fa fa-refresh fa-spin" v-if="loading"></i></h4>
            <div class="row" slot="content">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm" @click="setOnCreate"><i class="fa fa-plus"></i> Tambah Data</button>
                    <button class="btn btn-info btn-sm" @click="getBlacklistUsers"><i class="fa fa-refresh" :class="{'fa-spin': loading}"></i> Refresh</button>
                    <div class="row pull-right">
                      <div class="col-md-12">
                        <input type="text" v-model="search" class="form-control" placeholder="Cari NPM/NID">
                      </div>
                    </div>
                    <table-data :fields="columns" :data="data" :pagination="pagination" :offset="4" @paginasikan="getBlacklistUsers">
                        <template slot="aksi" slot-scope="props">
                            <button class="btn btn-success btn-xs" @click="pulihkan(props.rowData)"><i class="fa fa-check-circle"></i> Pulihkan</button>
                        </template>
                    </table-data>
                </div>
            </div>
        </main-panel>
      </transition>
      <transition name="component-fade" mode="out-in">
          <add-blacklist v-if="onCreate" @back="setDefault"></add-blacklist>
      </transition>
  </div>
</template>

<script>
import MainPanel from "./UIComponents/MainPanel";
import TableData from "./UIComponents/TableData";
import BlacklistService from "./services/BlacklistServices";
import AddBlacklist from "./FormComponents/AddBlacklist";

import swal from 'sweetalert2'
import _ from 'lodash'

export default {
  components: {
    MainPanel,
    TableData,
    AddBlacklist
  },
  data() {
    return {
      loading: false,
      onCreate: false,
      search: '',
      columns: [
        { name: "id_blacklist", title: "ID" },
        { name: "rf_id", title: "RFID" },
        { name: "no_induk", title: "NPM/NID" },
        { name: "status", title: "Status" },
        { name: "__slot", title: "Actions" }
      ],
      data: [],
      pagination: {
        total: 0,
        per_page: 2,
        from: 1,
        to: 0,
        current_page: 1
      },
      offset: 4
    };
  },
  mounted() {
    this.getBlacklistUsers();
  },
  methods: {
    pulihkan(rowData) {
      let response = null
      this.$Progress.start()
      swal({
        title: 'Kamu yakin?',
        text: "Kamu akan memulihkan RFID Ini",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Pulihkan!',
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            response = await BlacklistService.deleteUser(rowData.id_blacklist)
            this.$Progress.finish()
            this.$notify({
              title: 'Dipulihkan!',
              text: `RFID ${rowData.rf_id} telah dipulihkan!`,
              type: 'info'
            })
            this.setDefault()
          } catch (error) {
            this.$Progress.fail()
            this.$notify({
              title: 'Error!',
              text: 'Gagal Menghubungkan Ke Server!',
              type: 'error'
            })
          }
        },
        onClose: () => {
          this.$Progress.finish()
        }
      }).then(result => {
        if(response) {
          this.$store.dispatch('showMessage', {
            title: 'Dipulihkan',
            text: `RFID ${rowData.rf_id} telah dipulihkan!`,
            type: 'success'
          })
        } else if(!response && result.dismiss !== "cancel"){
          this.$store.dispatch('showMessage', {
            title: 'Error!',
            text: `RFID ${rowData.rf_id} GAGAL dipulihkan!`,
            type: 'error'
          })
        }
      })
    },
    setOnCreate() {
      this.onCreate = true;
    },
    setDefault() {
      this.onCreate = false;
      this.getBlacklistUsers();
    },
    async getBlacklistUsers() {
      try {
        this.loading = true;
        const response = await BlacklistService.getBlacklistUsers(
          this.pagination.current_page, this.search
        );
        this.data = response.data.data;
        this.pagination = response.data;
        this.loading = false;
      } catch (error) {
        this.loading = false;
        this.$notify({
          title: "Error!",
          text: "Gagal Mengambil Data Ke Server!",
          type: "error"
        });
      }
    }
  },
  watch: {
    search: _.debounce(async function(value) {
      await this.getBlacklistUsers()
    }, 800)
  }
};
</script>