<template>
  <div id="dashboard">
    <transition name="component-fade" mode="out-in">
      <main-panel ukuran="col-md-12">
        <h4 class="title" slot="title">Dashboard</h4>
        <!-- <div class="row" slot="content">
          <div class="col-md-12">
            <input type="text" name="search" v-model="search" placeholder="cari nama..." class="form-control">
            <search-highlight @onSelected="onSelected" :data="hasil"></search-highlight>
          </div>
        </div> -->
      </main-panel>
    </transition>
  </div>
</template>

<script>
import MainPanel from './UIComponents/MainPanel'
import SearchHighlight from './UIComponents/SearchHighlight'
import TokenService from './services/TokenServices'

import _ from 'lodash'

export default {
  components: {
    MainPanel,
    SearchHighlight
  },
  data () {
    return {
      hasil: [],
      search: ''
    }
  },
  methods: {
    async cariDosen () {
      if(!!this.search) {
        try {
          const response = await TokenService.cariDosen(this.search)
          console.log(response)
          this.hasil = response.data
        } catch (error) {
          console.log(error.response)
        }
      } else {
        this.hasil = []
      }
    },
    onSelected (d) {
      this.search = d.DSNOTBDOS
      this.hasil = []
    }
  },
  watch: {
    search: _.debounce(async function(value) {
      await this.cariDosen()
    }, 800)
  }
}
</script>

