<template>
  <div id="login">
      <transition name="component-fade" mode="out-in">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 form-login">
                <div class="outter-form-login">
                    <div class="logo-login">
                        <em class="fa fa-user"></em>
                    </div>
                        <form @submit.prevent="onSubmit" class="inner-login" method="post">
                        <h3 class="text-center title-login">Login Operator</h3>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Username" v-model="username">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password" v-model="password">
                            </div>
                            
                            <input type="submit" class="btn btn-block btn-custom-green" value="LOGIN" />
                            
                            <div class="text-center forget">
                                
                            </div>
                        </form>
                    </div>
            </div>
        </div>
      </transition>
  </div>
</template>

<script>
import LoginService from './services/LoginServices'

export default {
  data() {
      return {
          username: '',
          password: ''
      }
  },
  beforeEnter(){
      if(localStorage.getItem('token_ep')){
          this.$router.push({name:'dashboard'})
      }
  },
  methods: {
      async onSubmit(){
          if(this.username !== '' && this.password !== ''){
              this.$Progress.start()
              const cred = {
                  username: this.username,
                  password: this.password
              }
              try {
                  const response = await LoginService.cekLogin(cred)
                   this.$notify({
                        title: 'Logged In!',
                        text: 'Berhasil Login!',
                        type: 'info'
                    })
                    this.$store.dispatch('setToken', response.data.token)
                    this.$store.dispatch('setUser', response.data.user)
                    this.$Progress.finish()
                    this.$router.push({name: 'dashboard'})
              } catch (error) {
                  this.$notify({
                      title: 'Invalid Credentials',
                      text: 'Username atau Password Salah!',
                      type: 'error'
                  })
                  this.$Progress.fail()
              }
          } else {
            this.$notify({
                title: 'Formulir Tidak Lengkap!',
                text: 'Lengkapi Pengisian Formulir!!',
                type: 'error'
            })
            this.$Progress.fail()
          }
      }
  }
}
</script>

<style scoped>
body{
    background: #F8DA56;
}
.form-login{
    margin-top: 5%;
}
.outter-form-login {
    padding: 20px;
    background: #EEEEEE;
    position: relative;
    border-radius: 5px;
}
.logo-login {
    position: absolute;
    font-size: 25px;
    background: #56a8ff;
    color: #FFFFFF;
    padding: 10px 18px;
    top: -40px;
    border-radius: 50%;
    left: 40%;
    text-align: center;
}
.inner-login .form-control {
    background: #FFF;
}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.btn-custom-green {
    background: #56a8ff;
    color: #fff;
}
</style>


