<template>
  <div id="not-found">
    <transition name="component-fade" mode="out-in">
      <main-panel ukuran="col-md-12">
        <h2 class="title" slot="title"><b>404</b> Not Found</h2>
        <div class="row" slot="content">
          <div class="col-md-12">
            <p class="text-muted">Halaman yang kamu cari tidak ada!</p>
            <router-link to="/" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i> Back to Dashboard</router-link>
          </div>
        </div>
      </main-panel>
    </transition>
  </div>
</template>

<script>
import MainPanel from './UIComponents/MainPanel'

export default {
  components: {
    MainPanel
  }
}
</script>

<style>

</style>
