<template>
  <div id="operators">
    <transition name="component-fade" mode="out-in">
      <main-panel ukuran="col-md-12" v-if="!onCreate">
        <h4 class="title" slot="title"><i class="pe-7s-users icon-header"></i> Operators <i class="fa fa-refresh fa-spin" v-if="loading"></i></h4>
        <div class="row" slot="content">
          <div class="col-md-12">
            <button class="btn btn-primary btn-sm" @click="setOnCreate"><i class="fa fa-plus"></i> Tambah Data</button>
            <button class="btn btn-info btn-sm" @click="getOperators"><i class="fa fa-refresh" :class="{'fa-spin': loading}"></i> Refresh</button>
            <div class="row pull-right">
              <div class="col-md-12">
                <input type="text" v-model="search" class="form-control" placeholder="Cari Operator">
              </div>
            </div>
            <table-data :fields="columns" :data="data" :pagination="pagination" :offset="4" @paginasikan="getOperators">
              <template slot="aksi" slot-scope="props">
                  <button class="btn btn-danger btn-xs" @click="deleteOperator(props.rowData)"><i class="fa fa-trash"></i> Hapus</button>
              </template>
            </table-data>
          </div>
        </div>
      </main-panel>
    </transition>
    <transition name="component-fade" mode="out-in">
      <add-operator v-if="onCreate" @back="setDefault"></add-operator>
    </transition>
  </div>
</template>

<script>
import MainPanel from './UIComponents/MainPanel'
import TableData from './UIComponents/TableData'
import AddOperator from './FormComponents/AddOperator'

import OperatorService from './services/OperatorServices'
import store from '../store/store'
import swal from 'sweetalert2'
import _ from 'lodash'

export default {
  components: {
    MainPanel,
    TableData,
    AddOperator
  },
  beforeRouteEnter: (to, from, next) => {
    if(store.state.user_ep.role === 'root') {
      next()
    } else {
      next(vm => {
        vm.$Progress.finish()
        vm.$router.push({name: 'dashboard'})
      })
    }
  },
  data () {
    return {
      loading: false,
      onCreate: false,
      search: '',
      columns: [
        {name: 'id_operator', title: 'ID'},
        {name: 'username', title: 'Username'},
        {name: 'nama_operator', title: 'Nama'},
        {name: 'role', title: 'User Role'},
        {name: '__slot', title: 'Actions'}
      ],
      data: [],
      pagination: {
        total: 0,
        per_page: 2,
        from: 1,
        to: 0,
        current_page: 1
      },
      offset: 4
    }
  },
  mounted () {
    this.getOperators()
  },
  methods: {
    async getOperators () {
      try{
        this.loading = true
        const response = await OperatorService.getOperators(this.pagination.current_page, this.search)
        this.data = response.data.data
        this.pagination = response.data
        this.loading = false
      } catch(err) {
        console.log(err)
        this.loading = false
        this.$notify({
          title: 'Error!',
          text: 'Gagal Mengambil Data ke Server!',
          type: 'error'
        })
      }
    },
    deleteOperator (props) {
      let response = null
      this.$Progress.start()
      swal({
        title: 'Hapus ?',
        text: `Kamu akan menghapus ${props.nama_operator}, Lanjutkan ?`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Lanjutkan!',
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            response = await OperatorService.deleteOperator(props.id_operator)
            this.$notify({
              title: 'DELETED!',
              text: 'Operator Berhasil Dihapus!',
              type: 'success'
            })
            this.$Progress.finish()
            this.setDefault()
          } catch (error) {
            this.$Progress.fail()
            this.$notify({
              title: 'Error!',
              text: 'Gagal Menghapus Operator Tersebut karna tidak Terkoneksi dengan Server!',
              type: 'error'
            })
          }
        },
        onClose: () => {
          this.$Progress.finish()
        }
      }).then(result => {
        if(response) {
          this.$store.dispatch('showMessage', {
            title: 'DELETED!',
            text: `Operator ${props.nama_operator} telah dihapus!`,
            type: 'success',
          })
        } else if(!response && result.dismiss !== "cancel") {
          this.$store.dispatch('showMessage', {
            title: 'Error!',
            text: `Operator ${props.nama_operator} GAGAL dihapus!`,
            type: 'error'
          })
        }
      })
    },
    setDefault () {
      this.onCreate = false
      this.getOperators()
    },
    setOnCreate () {
      this.onCreate = true
    }
  },
  watch: {
    search: _.debounce(async function(value) {
      await this.getOperators()
    }, 800)
  }
}
</script>

<style>

</style>
