<template>
  <div id="rfid">
      <transition name="component-fade" mode="out-in">
        <main-panel ukuran="col-md-12" v-if="!onCreate">
          <h4 class="title" slot="title"><i class="pe-7s-id icon-header"></i> RFID Users <i class="fa fa-refresh fa-spin" v-if="loading"></i></h4>
          <div class="row" slot="content">
            <div class="col-md-12">
              <button class="btn btn-primary btn-sm" @click="setOnCreate"><i class="fa fa-plus"></i> Tambah Data</button>
              <button class="btn btn-info btn-sm" @click="getRfidUsers"><i class="fa fa-refresh" :class="{'fa-spin': loading}"></i> Refresh</button>
              <div class="row pull-right">
                <div class="col-md-12">
                  <input type="text" v-model="search" class="form-control" placeholder="Cari NPM/NID">
                </div>
              </div>
              <table-data :fields="columns" :data="data" :pagination="pagination" :offset="4" @paginasikan="getRfidUsers">
                  <template slot="aksi" slot-scope="props">
                      <router-link :to="{name: 'edit-rfid', params: {rfid: props.rowData.rf_id}}" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> Edit</router-link>
                      <button class="btn btn-danger btn-xs" @click="deleteRfid(props.rowData)"><i class="fa fa-trash"></i> Hapus</button>
                  </template>
              </table-data>
            </div>
          </div>
        </main-panel>
      </transition>
      <transition name="component-fade" mode="out-in">
        <add-rfid v-if="onCreate" @back="setDefault"></add-rfid>
      </transition>
  </div>
</template>

<script>
import MainPanel from './UIComponents/MainPanel'
import TableData from './UIComponents/TableData'
import AddRfid from './FormComponents/AddRfid'
import RfidService from './services/RfidServices'

import swal from 'sweetalert2'
import _ from 'lodash'

export default {
  components: {
    MainPanel,
    TableData,
    AddRfid
  },
  data() {
    return {
      loading: false,
      onCreate: false,
      search: '',
      columns: [
        { name: "rf_id", title: "RFID" },
        { name: "no_induk", title: "NPM/NID" },
        { name: "status", title: "Status" },
        { name: "created_at", title: "Dibuat"},
        { name: "updated_at", title: "Diupdate"},
        { name: "__slot", title: "Actions" }
      ],
      data: [],
      pagination: {
        total: 0,
        per_page: 2,
        from: 1,
        to: 0,
        current_page: 1
      },
      offset: 4
    }
  },
  mounted () {
    this.getRfidUsers()
  },
  methods: {
    async getRfidUsers () {
      try {
        this.loading = true
        const response = (await RfidService.getRfidUsers(this.pagination.current_page, this.search)).data
        this.data = response.data
        this.pagination = response
        this.loading = false
      } catch (error) {
        this.loading = false
        this.$notify({
          title: 'Error!',
          text: 'Gagal Mengambil Data ke Server!',
          type: 'error'
        })
      }
    },
    setDefault () {
      this.onCreate = false
      this.getRfidUsers()
    },
    setOnCreate () {
      this.onCreate = true
    },
    deleteRfid (rfid) {
      let response = null
      this.$Progress.start()
      swal({
        title: 'Hapus ?',
        text: `Kamu akan menghapus ${rfid.rf_id}, Lanjutkan ?`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Lanjutkan!',
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            response = (await RfidService.deleteRfid(rfid.rf_id)).data
            this.$notify({
              title: 'Deleted!',
              text: 'RFID Berhasil Dihapus!',
              type: 'success'
            })
            this.$Progress.finish()
            this.setDefault()
          } catch (error) {
            console.log(error.response)
            this.$Progress.fail()
            this.$notify({
              title: 'Error!',
              text: 'Gagal Menghapus Data!',
              type: 'error'
            })
          }
        },
        onClose: () => {
          this.$Progress.finish()
        }
      }).then(result => {
        if(response) {
          this.$store.dispatch('showMessage', {
            title: 'DELETED!',
            text: `RFID ${rfid.rf_id} telah dihapus!`,
            type: 'success',
          })
        } else if(!response && result.dismiss !== "cancel") {
          this.$store.dispatch('showMessage', {
            title: 'Error!',
            text: `RFID ${rfid.rf_id} GAGAL dihapus!`,
            type: 'error'
          })
        }
      })
    }
  },
  watch: {
    search: _.debounce(async function(value) {
      await this.getRfidUsers()
    }, 800)
  }
}
</script>

