<template>
  <div id="tokenCard">
      <transition name="fade">
      <main-panel ukuran="col-md-12" v-if="!onCreate">
        <h4 class="title" slot="title"><i class="pe-7s-key icon-header"></i> Token Users <i class="fa fa-refresh fa-spin" v-if="loading"></i></h4>
        <div class="row" slot="content">
          <div class="col-md-12">
            <button @click="setOnCreate" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Tambah Data</button>
            <button class="btn btn-info btn-sm" @click="getTokenUsers"><i class="fa fa-refresh" :class="{'fa-spin': loading}"></i> Refresh</button>
            <div class="row pull-right">
              <div class="col-md-12">
                <input type="text" v-model="search" class="form-control" placeholder="Cari NPM/NID">
              </div>
            </div>
            <table-data :fields="columns" :data="token_users" :pagination="pagination" :offset="4" @paginasikan="getTokenUsers">
              <template slot="aksi" slot-scope="props">
                <!-- <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit</button> -->
                <button class="btn btn-danger btn-xs" @click="onDelete(props.rowData)"><i class="fa fa-trash"></i> Hapus</button>
                <button class="btn btn-primary btn-xs" v-if="props.rowData.nidp !== '-'" @click="cekDI(props.rowData)" data-toggle="tooltip" data-placement="bottom" title="Dosen Pengganti"><i class="fa fa-user"></i></button>
              </template>
            </table-data>
          </div>
        </div>
      </main-panel>
    </transition>
    <transition name="fade">
      <app-newtoken v-if="onCreate" @back="setDefault"></app-newtoken>
    </transition>
  </div>
</template>

<script>
import MainPanel from './UIComponents/MainPanel'
import TableData from './UIComponents/TableData'
import VuePagination from './Plugins/Pagination.vue'
import TokenService from './services/TokenServices'
import AddToken from './FormComponents/AddToken.vue'

import swal from 'sweetalert2'
import _ from 'lodash'

export default {
  data() {
    return {
      columns: [
        {name: 'token_id', title: 'Token'},
        {name: 'used', title: 'Digunakan'},
        {name: 'keterangan_aksi', title: 'Keterangan'},
        {name: 'no_induk', title: 'NPM/NID'},
        {name: 'rf_id', title: 'RFID'},
        {name: '__slot', title: 'Actions'}
      ],
      pagination: {
            total: 0,
            per_page: 2,
            from: 1,
            to: 0,
            current_page: 1
        },
      offset: 4,
      token_users: [],
      onCreate: false,
      loading: false,
      search: '',
    }
  },
  components: {
    MainPanel,
    TableData,
    VuePagination,
    'app-newtoken': AddToken
  },
  mounted(){
    this.getTokenUsers()
    this.onCreate = false
  },
  methods: {
    async cekDI (props) {
      try {
        const response = await TokenService.getDosenInval(props.nidp)
        if(!!response) {
          swal({
            title: `NID: ${props.nidp}`,
            text: `Nama: ${response.data.dosen.nama}`,
            type: 'info'
          })
        } else {
          swal({
            title: props.nidp,
            text: response.data.msg,
            type: 'error',
          })
        }
      } catch (error) {
        console.log(error);
      }
    },
    async getTokenUsers(){
      try {
        this.loading = true
        await TokenService.getTokenUsers(this.pagination.current_page, this.search).then((res) => {
          this.token_users = res.data.data
          this.pagination = res.data
          this.loading = false
        })
      } catch (error) {
        this.token_users = {}
        this.loading = false
        this.$notify({
          title: 'Error!',
          text: 'Gagal Mengambil Data Ke Server!',
          type: 'error'
        })
      }
    },
    onEdit(user){
      console.log(user)
    },
    onDelete(user){
      let response = null
      this.$Progress.start()
      swal({
        title: 'Hapus ?',
        text: `Kamu akan Menghapus Token Ini ${user.token_id}`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ya, Pulihkan!',
        showLoaderOnConfirm: true,
        preConfirm: async () => {
          try {
            response = await TokenService.deleteTokenUser(user.token_id)
            this.$Progress.finish()
            this.$notify({
              title: 'DELETED!',
              text: 'Berhasil Menghapus Data!',
              type: 'info'
            })
            this.setDefault()
          } catch (error) {
            this.$Progress.fail()
            this.$notify({
              title: 'FAILED!',
              text: 'Gagal Menghapus Data Token!',
              type: 'error'
            })
          }
        },
        onClose: () => {
          this.$Progress.finish()
        }
      }).then(result => {
        if(response) {
          this.$store.dispatch('showMessage', {
            title: 'DELETED',
            text: `Token ${user.token_id} telah dihapus!`,
            type: 'success'
          })
        } else if(!response && result.dismiss !== "cancel"){
          this.$store.dispatch('showMessage', {
            title: 'Error!',
            text: `Token ${user.token_id} GAGAL dihapus!`,
            type: 'error'
          })
        }
      })
    },
    setOnCreate(){
      this.onCreate = true
    },
    setDefault(){
      this.onCreate = false
      this.getTokenUsers()
    }
  },
  watch: {
    search: _.debounce(async function(value) {
      await this.getTokenUsers()
    }, 800)
  }
}
</script>
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: .4s ease-in-out;
  margin-top: -10px;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  margin-top: 0;
  transition: .4s ease-in;
}

</style>


