<template>
  <div id="app">
    <transition name="component-fade" mode="out-in">
      <div class="wrapper">
          <app-sidebar v-if="getLogginState"></app-sidebar>
          <div class="main-panel">
              <app-navbar :user="getLogginState" v-if="getLogginState"></app-navbar>
              <vue-progress-bar></vue-progress-bar>
              <div class="content">
                <notifications position="top right"/>
                  <div class="container-fluid">
                    <transition name="component-fade" mode="out-in">
                      <router-view></router-view>
                    </transition>
                  </div>
              </div>
              <footer class="footer" v-if="getLogginState">
                  <div class="container-fluid">
                      <p class="copyright pull-right">
                        E-Presents v{{versi}} &copy; {{tahun}} STMIK Bani Saleh   
                      </p>
                  </div>
              </footer>
          </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Navbar from "./components/partial/navbar.vue";
import Sidebar from "./components/partial/sidebar.vue";

import { version } from "../package.json";

export default {
  name: "app",
  components: {
    "app-navbar": Navbar,
    "app-sidebar": Sidebar
  },
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      tahun: null,
      versi: null
    };
  },
  mounted() {
    //  [App.vue specific] When App.vue is finish loading finish the progress bar
    this.$Progress.finish();
  },
  created() {
    this.tahun = new Date().getFullYear();
    this.versi = version;
    //  [App.vue specific] When App.vue is first loaded start the progress bar
    this.$Progress.start();
    //  hook the progress bar to start before we move router-view
    this.$router.beforeEach((to, from, next) => {
      //  does the page we want to go to have a meta.progress object
      if (to.meta.progress !== undefined) {
        let meta = to.meta.progress;
        // parse meta tags
        this.$Progress.parseMeta(meta);
      }
      //  start the progress bar
      this.$Progress.start();
      //  continue to next page
      next();
    });
    //  hook the progress bar to finish after we've finished moving router-view
    this.$router.afterEach((to, from) => {
      //  finish the progress bar
      this.$Progress.finish();
    });
  },
  computed: {
    getLogginState() {
      return this.$store.getters.getLoggedIn;
    }
  }
};
</script>

<style>
#app {
  font-family: "Lato", sans-serif;
}

.icon-header {
  font-weight: bold;
}

.passed {
  color: #04a704;
  transition: 0.5s;
}

.err {
  color: #d10a0a;
  transition: 0.5s;
}

.info-data {
  border: 1px solid #b9b6b6;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0;
  padding: 10px;
  font-weight: bold;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.3s ease;
}
.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}
</style>
